<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>signup_ArthurSlog</title>
</head>

<body>

    <div id="signup-container">
        <div>This is signup's page by ArthurSlog</div>
        <p>Singup</p>

        <form action="http://127.0.0.1:3000/signup" method="GET">

            <br>
            <div>
                Account:
                <br>
                <input type="text" name="name">
            </div>
            <br>

            <br>
            <div>
                Password:
                <br>
                <input type="text" name="password">
            </div>
            <br>

            <br>
            <div>
                Again Password:
                <br>
                <input type="text" name="repassword">
            </div>
            <br>


            <br>
            <div>
                First Name:
                <br>
                <input type="text" name="firstname">
            </div>
            <br>

            <br>
            <div>
                Last Name:
                <br>
                <input type="text" name="lastname">
            </div>
            <br>

            <br>
            <div>
                Birthday:
                <br>
                <input type="text" name="birthday">
            </div>
            <br>

            <br>
            <div>
                <span>Sex: {{ sex }}</span>
                <br>
                <input type="radio" id="one" value="Male" v-model="sex">
                <label for="one">Male</label>
                <br>
                <input type="radio" id="two" value="Female" v-model="sex">
                <label for="two">Female</label>
            </div>
            <br>

            <br>
            <div>
                <span>Age: {{ age }}</span>
                <br>
                <select v-model="age" name="age">
                    <option disabled value="">Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                </select>
            </div>
            <br>

            <br>
            <div>
                Wechart:
                <br>
                <input type="text" name="wechart">
            </div>
            <br>

            <br>
            <div>
                QQ:
                <br>
                <input type="text" name="qq">
            </div>
            <br>

            <br>
            <div>
                Email:
                <br>
                <input type="text" name="email">
            </div>
            <br>

            <br>
            <div>
                Contury:
                <br>
                <input type="text" name="contury">
            </div>
            <br>

            <br>
            <div>
                Address:
                <br>
                <input type="text" name="address">
            </div>
            <br>

            <br>
            <div>
                Phone:
                <br>
                <input type="text" name="phone">
            </div>
            <br>

            <br>
            <div>
                Websize:
                <br>
                <input type="text" name="websize">
            </div>
            <br>

            <br>
            <div>
                Github:
                <br>
                <input type="text" name="github">
            </div>
            <br>

            <br>
            <div>
                Bio:
                <br>
                <input type="text" name="bio">
            </div>
            <br>

            <br>
            <input type="submit" value="完成注册">
        </form>

        <a href="./index.html">Return index's page</a>
        <br>
        <br>
    </div>

    <script src="./js/signup.js"></script>
</body>

</html>